<p>user-profile works!</p>
<div
  [hidden]="profileLoaded"
  class="spinner-border"
  role="status"
  >
  <span class="visually-hidden">Loading...</span>
</div>
<div  *ngIf="!showError && profileLoaded">
<p>
  User Name : {{user?.userName}},
  Follower Count : {{user?.followers!.length}}
  Followed Count : {{user?.followeds!.length}}
</p>
<div *ngIf = "anotherProfile()">
  <button *ngIf="!checkIfFollows()" (click)="switchFollow()">Follow</button>
  <button *ngIf="checkIfFollows()" (click)="switchFollow()">Following</button>
</div>
</div>
<div *ngFor="let err of responseErrors">
  <div>{{ err }}</div>
</div>
